@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-12">
        <img src="~/img/Karta.jpg" usemap="#image-map" class="img-fluid">

        <map name="image-map">
            <area target="" alt="1" title="" href="#" coords="615,495,654,517,632,563,589,543" shape="poly" id="1" name="bungalo">
            <area target="" alt="2" title="" href="#" coords="684,531,720,549,696,592,661,578" shape="poly" id="2" name="bungalo">
            <area target="" alt="3" title="" href="#" coords="740,585,776,583,774,629,734,624,737,605,737,597" shape="poly" id="3" name="bungalo">
            <area target="" alt="4" title="" href="#" coords="783,568,784,638,829,639,827,604,807,573" shape="poly" id="4" name="bungalo">
            <area target="" alt="5" title="" href="#" coords="859,549,901,551,903,604,861,600" shape="poly" id="5" name="bungalo">
            <area target="" alt="6" title="" href="#" coords="913,582,915,622,968,626,964,578" shape="poly" id="6" name="bungalo">
            <area target="" alt="7" title="" href="#" coords="986,604,986,643,1019,644,1017,602" shape="poly" id="7" name="bungalo">
            <area target="" alt="8" title="" href="#" coords="976,517,974,558,1024,560,1025,519" shape="poly" id="8" name="bungalo">
            <area target="" alt="9" title="" href="#" coords="1076,561,1044,563,1046,597,1076,599,1076,614,1120,616,1117,563" shape="poly" id="9" name="bungalo">
            <area target="" alt="10" title="" href="#" coords="1134,573,1159,605,1188,587,1181,543,1198,563,1163,551,1161,555,1163,551" shape="poly" id="10" name="bungalo">
            <area target="" alt="12" title="" href="#" coords="1137,493,1169,529,1202,504,1192,487,1207,473,1190,453" shape="poly" id="12" name="bungalo">
            <area target="" alt="13" title="" href="#" coords="1247,519,1227,556,1254,578,1283,536" shape="poly" id="13" name="bungalo">
            <area target="" alt="14" title="" href="#" coords="1283,541,1268,566,1285,582,1309,555" shape="poly" id="14" name="bungalo">
            <area target="" alt="15" title="" href="#" coords="1451,337,1449,395,1504,399,1504,337" shape="poly" id="15" name="bungalo">
            <area target="" alt="16" title="" href="#" coords="1515,346,1510,407,1568,409,1566,344" shape="poly" id="16" name="bungalo">
            <area target="" alt="17" title="" href="#" coords="1578,329,1577,392,1631,390,1633,327" shape="poly" id="17" name="bungalo">
            <area target="" alt="18" title="" href="#" coords="1641,317,1641,376,1695,376,1694,319" shape="poly" id="18" name="bungalo">
            <area target="" alt="19" title="" href="#" coords="1705,314,1705,380,1760,373,1758,314" shape="poly" id="19" name="bungalo">
            <area target="" alt="20" title="" href="#" coords="1768,312,1768,371,1822,371,1819,314" shape="poly" id="20" name="bungalo">
            <area target="" alt="21" title="" href="#" coords="1817,551,1814,612,1878,614,1878,553" shape="poly" id="21" name="bungalo">
            <area target="" alt="22" title="" href="#" coords="1816,619,1816,680,1882,678,1878,616" shape="poly" id="22" name="bungalo">
            <area target="" alt="23" title="" href="#" coords="1697,660,1695,721,1761,722,1760,660" shape="poly" id="23" name="bungalo">
            <area target="" alt="24" title="" href="#" coords="1694,658,1695,721,1629,721,1629,660" shape="poly" id="24" name="bungalo" >
            <area target="" alt="25" title="" href="#" coords="1590,614,1593,682,1526,682,1529,621" shape="poly" id="25" name="bungalo">
            <area target="" alt="26" title="" href="#" coords="1529,636,1526,682,1458,678,1461,636" shape="poly" id="26" name="bungalo">
            <area target="" alt="27" title="" href="#" coords="1290,660,1298,690,1266,699,1256,668" shape="poly" id="27" name="bungalo">
            <area target="" alt="28" title="" href="#" coords="1317,687,1327,734,1276,743,1264,705" shape="poly" id="28" name="bungalo">
            <area target="" alt="29" title="" href="#" coords="1242,661,1259,727,1186,743,1169,694,1193,692,1193,673" shape="poly" id="29" name="bungalo">
            <area target="" alt="30" title="" href="#" coords="1149,673,1166,739,1090,756,1081,709,1100,702,1097,685" shape="poly" id="30" name="bungalo">
            <area target="" alt="31" title="" href="#" coords="1059,739,1061,783,1003,787,995,714,1041,711,1047,743" shape="poly" id="31" name="bungalo">
            <area target="" alt="32" title="" href="#" coords="935,722,986,719,993,790,935,799,932,756,942,756" shape="poly" id="32" name="bungalo">
            <area target="" alt="33" title="" href="#" coords="881,709,891,711,895,744,849,751,839,695,876,688" shape="poly" id="33" name="bungalo">
            <area target="" alt="34" title="" href="#" coords="844,794,871,785,878,826,849,828" shape="poly" id="34" name="bungalo">
            <area target="" alt="35" title="" href="#" coords="871,770,910,763,918,814,881,821" shape="poly" id="35" name="bungalo">
            <area target="" alt="36" title="" href="#" coords="783,765,820,765,829,799,786,804" shape="poly" id="36" name="bungalo">
            <area target="" alt="37" title="" href="#" coords="773,805,827,804,834,848,781,855" shape="poly" id="37" name="bungalo">
            <area target="" alt="38" title="" href="#" coords="757,716,788,712,790,744,764,753" shape="poly" id="38" name="bungalo">
            <area target="" alt="39" title="" href="#" coords="786,695,827,694,832,743,793,743" shape="poly" id="39" name="bungalo">
            <area target="" alt="40" title="" href="#" coords="751,824,747,770,700,773,708,828" shape="poly" id="40" name="bungalo">
            <area target="" alt="41" title="" href="#" coords="686,756,734,753,737,719,686,717" shape="poly" id="41" name="bungalo">
            <area target="" alt="42" title="" href="#" coords="701,716,735,714,730,672,696,672" shape="poly" id="42" name="bungalo">
            <area target="" alt="43" title="" href="#" coords="684,819,652,817,652,780,688,778" shape="poly" id="43" name="bungalo">
            <area target="" alt="44" title="" href="#" coords="642,817,608,821,608,778,642,778" shape="poly" id="44" name="bungalo">
            <area target="" alt="45" title="" href="#" coords="654,885,698,885,693,828,654,834" shape="poly" id="45" name="bungalo">
            <area target="" alt="46" title="" href="#" coords="611,834,647,831,652,873,613,877" shape="poly" id="46" name="bungalo">
            <area target="" alt="47" title="" href="#" coords="1044,405,1108,421,1095,471,1030,458" shape="poly" id="47" name="bungalo">
            <area target="" alt="48" title="" href="#" coords="588,829,588,875,525,872,527,829" shape="poly" id="48" name="bungalo">
            <area target="" alt="49" title="" href="#" coords="418,848,415,906,327,906,327,848" shape="poly" id="49" name="bungalo">
            <area target="" alt="50" title="" href="#" coords="539,541,579,560,516,690,479,668" shape="poly" id="50" name="bungalo">
            <area target="" alt="51" title="" href="#" coords="522,512,425,712,350,673,444,475" shape="poly" id="51" name="bungalo">
            <area target="" alt="52" title="" href="#" coords="281,405,281,690,145,694,150,407" shape="poly" id="52" name="bungalo">
            <area target="" alt="53" title="" href="#" coords="259,711,281,721,282,746,262,758,238,748,238,724" shape="poly" id="53" name="bungalo" >
            <area target="" alt="54" title="" href="#" coords="630,702,673,704,673,744,632,748" shape="poly" id="54" name="bungalo">
        </map>
        
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal_text"></p>
                <img class="img-fluid" id="bungalo_picture" src="" alt="picture"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('map').imageMapResize();
        });

        $("[name='bungalo']").click(function () {
            var id = $(this).attr('id');
            $('#modal_picture').attr('src', '');
            $('#modal_text').html(id);
            $('#exampleModal').modal('show');
        });
    </script>
}